# Temporary and binary files
__pycache__/*
**/__pycache__/*
docker/redis_data/dump.rdb

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Build and docs folder/files
build/*
build-pkg/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
site/

# Per-project virtualenvs
env/

# vscode settigns
.vscode/
